__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.eggs/
*.log

.venv/
venv/
ENV/
env/
pyvenv.cfg

.vscode/
.idea/
.DS_Store
Thumbs.db

*.pt
*.onnx
*.engine
*.tflite

runs/
outputs/
checkpoints/
wandb/
mlruns/
.cache/
dist/
build/

reports
fall.mp4
lying.mp4